/*亮的按钮*/
.footer-btn-light {
    width: 2.7rem;
    margin-right: 0.1rem;
}

/*暗的按钮*/
.footer-btn-dark, .footer-btn-freeze {
    width: 100%;
}

/*按钮基础*/
.footer-btn-basic {
    height: 0.56rem;
    border-width: 0.01rem;
    border-style: solid;
    border-radius: 0.08rem;
}


/*微信按钮*/
.wx-button {
    width: 4.2rem;
    height: 0.8rem;
}