/*整体内容*/
.pay-for-success-info {
    margin: 0 0.3rem;
    padding: 0.16rem 0;
    border-width: 0.01rem 0;
    border-style: solid;
    font-weight: 300;
    font-size: 0.15rem;
}

/*具体内容*/
.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.38rem;
    font-size: 0.14rem;
}

