/*整体*/
.order-detail-status {
    border-width: 0 0 0.01rem;
    border-style: solid;
    padding: 0.14rem 0.3rem;
}

.order-detail-status > p {
    line-height: 0.26rem;
}

.status-detail-line {
    display: flex;
    justify-content: space-between;
}

/*状态*/
.status-detail {
    font-size: 0.17rem;
}

/*倒计时*/
/*时间*/
.countdown-pay, .status-detail-time {
    font-size: 0.13rem;
}

/*.countdown-pay span {*/
/*    width: 0.6rem;*/
/*    display: inline-block;*/
/*}*/
