/*返回按钮*/
.re-back-btn {
    width: 1.1rem;
    line-height: 0.72rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: red;*/
}

.re-back-btn > span {
    font-size: 0.17rem;
}