/*sub-title*/
.sub-title {
    margin: 0 0.3rem;
    line-height: 0.48rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    font-size: 0.17rem;
}

.sub-title::before {
    display: inline-block;
    content: '';
    width: 0.04rem;
    height: 0.16rem;
    border-radius: 0.02rem;
    margin-right: 0.06rem;
    background-color: var(--detail-info-title-blue);
}