/*loading的遮罩*/
.loading-mask {
@include hexagon-generator
z-index: +3;
}

/*菊花*/
.loading-content {
    width: 1rem;
    height: 1rem;
    margin-top: -2rem;
    animation: loop-rotate 2s infinite linear;
}

/*动画*/
@keyframes loop-rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
