.basic-footer {
    height: 0.98rem;
    border-top: 0.01rem solid #EEEEEE;
    justify-content: space-around;
    align-items: center;
    display: flex;
    position: fixed;
    background-color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 0.2rem;
    box-sizing: border-box;
}

.basic-footer.iswx {
    height: 1.1rem;
    font-size: 0.28rem;
}