/*头部*/
.basic-header {
    height: 0.72rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01rem solid;
}

.basic-header .basic-header {
    text-align: center;
}