:root {
    --font-grey: #6E6E6E;
    --font-dark: #333333;
    --border-grey: #E0E6ED;
    --border-grey-blue: #D6E0E9;
    --btn-dark-blue: #1660A3;
    --btn-light-blue: #ECF5FF;
    --weui-icon-success: #07c160;
    --detail-info-title-blue: #007FFE;
    --font-orange: #F75345;
    --font-red: #FF5100;
}

/*文字灰色*/
.color-grey {
    color: var(--font-grey)
}

/*文字深色*/
.color-dark {
    color: var(--font-dark)
}

/*边框灰色*/
.border-grey {
    border-color: var(--border-grey);
}

/*边框灰蓝色*/
.border-grey-blue {
    border-color: var(--border-grey-blue)
}

/*脚部按钮*/
.footer-btn-light {
    color: var(--btn-dark-blue);
    background-color: var(--btn-light-blue);
}

/*脚部按钮*/
.footer-btn-dark {
    color: white;
    border-color: var(--btn-dark-blue);
    background-color: var(--btn-dark-blue);
}

/*订单详情-金额*/
.order-detail-cost-amount {
    color: var(--font-orange)
}

/*订单详情-状态*/
.status-detail-red {
    color: var(--font-red);
}

/*!*微信成功*!*/
/*.weui-icon-success {*/
/*    background-color: var(--weui-icon-success)*/
/*}*/


/*测试css优先级*/
.border-text {
    border-color: red;
}
