* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

button, input, textarea {
    border: none;
    background-color: transparent;
    font-size: 1em;
    outline: none;
}

#root {

}