/*微信下的确认订单页*/
.wx-order-confirm {
    font-size: 0.28rem;
    font-weight: 300;
    line-height: 1rem;
    margin: 0 0.34rem;
}

.wx-order-confirm li {
    border-width: 0 0 0.01rem 0;
    border-style: solid;
}

/*费用类型*/
.wx-order-confirm .wx-order-type {
    display: flex;
    justify-content: space-between;
}